<h1>Employees</h1>
<!-- <a routerLink="add" class="btn btn-sm btn-success mb-2">Add User</a> -->
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">Fullname</th>
            <th style="width: 30%">Employee ID</th>
            <th style="width: 28%">Email</th>
            <th style="width: 30%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of employees">
            <td>{{user.fullname}}</td>
            <td>{{user.id}}</td>
            <td>{{user.email}}</td>
            <td><button>Add Supervisor</button></td>
        </tr>
        <tr *ngIf="!employees">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>
