<h1>Admins</h1>
<!-- <a routerLink="add" class="btn btn-sm btn-success mb-2">Add admin</a> -->
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">Fullname</th>
            <th style="width: 30%">admin Name</th>
            <th style="width: 30%">Email</th>
            <th style="width: 10%">Admin ID</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let admin of admins">
            <td>{{admin.fullname}}</td>
            <td>{{admin.adminid}}</td>
            <td>{{admin.email}}</td>
            <td>{{admin.email}}</td>
            <td align="center" colSpan="7">
              <button [cModalToggle]="addAdmin.id" cButton size="lg" (click)="setID(admin.username)"><img width="20px" src="../../assets/user-svgrepo-com (1).svg" alt="arrow" loading="lazy">Add </button>
            </td>        </tr>
        <tr *ngIf="!admins">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>
