<h1>Employees</h1>
<!-- <a routerLink="add" class="btn btn-sm btn-success mb-2">Add employee</a> -->
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">Fullname</th>
            <th style="width: 30%">employee Name</th>
            <th style="width: 30%">Email</th>
            <th style="width: 10%">Employee ID</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{employee.fullname}}</td>
            <td>{{employee.employeeid}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.email}}</td>
            <td><button [cModalToggle]="addSupervisor.supervisorID" class="btn btn-sm btn-primary mr-1" cButton (click)="setID(department.departmentID, request.requestID)">Add Supervisor</button></td>
        </tr>
        <tr *ngIf="!employees">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>
