<h1>Employees</h1>
<!-- <a routerLink="add" class="btn btn-sm btn-success mb-2">Add User</a> -->
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">Fullname</th>
            <th style="width: 30%">Employee ID</th>
            <th style="width: 30%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of users">
            <td *ngIf="employee.role == 'Employee'">{{employee.fullname}}</td>
            <td *ngIf="employee.role == 'Employee'">{{employee.username}}</td>
            <td *ngIf="employee.role == 'Employee'">
              <button  cButton size="lg"><img width="20px" src="../../assets/user-svgrepo-com (1).svg" alt="arrow" loading="lazy">Add Supervisor</button>
            </td>
        </tr>

    </tbody>
</table>
