<h1>Employees</h1>
<!-- <a routerLink="add" class="btn btn-sm btn-success mb-2">Add User</a> -->
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">Fullname</th>
            <th style="width: 30%">Username</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of users">
            <td *ngIf="employee.role != 'SuperAdmin'">{{employee.fullname}}</td>
            <td *ngIf="employee.role != 'SuperAdmin'">{{employee.username}}</td>
        </tr>
    </tbody>
</table>
