<div class="p-4">
  <div class="container">
<h1 style="margin: 0 0 2rem 0;">FWA Requests</h1>

<button *ngIf="requests.length >= 0" [cModalToggle]="scrollableLongContentModal.id" cButton size="lg" (click)="setID(department.departmentID, request.requestID)"><img width="18px" src="../../assets/swarm-request-svgrepo-com.svg" alt="arrow" loading="lazy">Create request</button>
<c-accordion *ngFor="let request of requests" disabled>
    <c-accordion-item style="margin: 1rem 0;" #item0="cAccordionItem" [visible]="false">
      <ng-template cTemplateId="accordionHeaderTemplate">
        <button (click)="item0.toggleItem()" [collapsed]="!item0.visible" cAccordionButton>
          <div class="stats-2" *ngIf="request.date != ''">
            <h5 style="margin: 0 1rem;"><c-badge color="warning"><img width="18px" src="../../assets/person-svgrepo-com.svg" alt="arrow" loading="lazy"></c-badge></h5>
            <h5 style="margin: 0 1rem;"><c-badge color="dark">{{ request.requestID }}</c-badge></h5>
            <h5 style="margin: 0 1rem">
              <c-badge *ngIf="request.status == 'NEW'" color="success">{{ request.status }}</c-badge>
              <c-badge *ngIf="request.status == 'CLOSED'" color="danger">{{ request.status }}</c-badge>
            </h5>
            <h5 style="margin: 0 1rem;"><c-badge color="dark"><img width="18px" src="../../assets/calendar-svgrepo-com.svg" alt="arrow" loading="lazy">{{ request.date }}</c-badge></h5>
          <h5 style="margin: 0 1rem"><c-badge color="dark"><img width="18px" src="../../assets/clock-svgrepo-com.svg" alt="arrow" loading="lazy">{{ request.time }}</c-badge></h5>
          <h5 style="margin: 0 1rem"><c-badge color="dark"><img width="18px" src="../../assets/volume-level-indicator-svgrepo-com.svg" alt="arrow" loading="lazy">{{ request.studentLevel }}</c-badge></h5>
          <h5 style="margin: 0 1rem"><c-badge color="dark"><img width="18px" src="../../assets/graduate-boy-svgrepo-com.svg" alt="arrow" loading="lazy">{{ request.numberOfStudents }}</c-badge></h5>
          <h5 style="margin: 0 1rem">
            <c-badge *ngIf="request.reviews.length == 0" color="light" shape="rounded-pill">{{ request.reviews.length }}</c-badge>
            <c-badge *ngIf="request.reviews.length > 0" color="success" shape="rounded-pill">{{ request.reviews.length }}</c-badge>
          </h5>
          </div>
          <div class="stats-2" *ngIf="request.resourceType != ''">
            <h5 style="margin: 0 1rem;"><c-badge color="primary"><img width="18px" src="../../assets/pc-svgrepo-com.svg" alt="arrow" loading="lazy"></c-badge></h5>
            <h5 style="margin: 0 1rem;"><c-badge color="dark">{{ request.requestID }}</c-badge></h5>
            <h5 style="margin: 0 1rem">
              <c-badge *ngIf="request.status == 'NEW'" color="success">{{ request.status }}</c-badge>
              <c-badge *ngIf="request.status == 'CLOSED'" color="danger">{{ request.status }}</c-badge>
            </h5>
            <h5 style="margin: 0 1rem;"><c-badge color="dark"><img width="18px" src="../../assets/help-svgrepo-com.svg" alt="arrow" loading="lazy">{{ request.resourceType }}</c-badge></h5>
          <h5 style="margin: 0 1rem"><c-badge color="dark"><img width="18px" src="../../assets/number-sign-svgrepo-com.svg" alt="arrow" loading="lazy">{{ request.resourceQuantity }}</c-badge></h5>
          <h5 style="margin: 0 1rem"><c-badge color="dark"></c-badge></h5>
          <h5 style="margin: 0 1rem"><c-badge color="dark"></c-badge></h5>
          <h5 style="margin: 0 1rem">
            <c-badge *ngIf="request.reviews.length == 0" color="light" shape="rounded-pill">{{ request.reviews.length }}</c-badge>
            <c-badge *ngIf="request.reviews.length > 0" color="success" shape="rounded-pill">{{ request.reviews.length }}</c-badge>
          </h5>
          </div>
        </button>
      </ng-template>
      <ng-template cTemplateId="accordionBodyTemplate">
        <div class="accordion-body" style="padding: 0;">
          <table
          [hover]="false"
          [responsive]="true"
          [striped]="false"
          cAlign="middle"
          cTable
          class="mb-0"
        >
                    <thead>
                      <tr>
                        <th scope="col" style="width: 20%">Description</th>
                        <th scope="col" style="width: 20%">Reason</th>
                        <th scope="col" style="width: 20%">Work Type</th>
                        <th scope="col" style="width: 20%">Date</th>
                        <th scope="col" style="width: 20%">status</th>

                        <th *ngIf="request.status != 'CLOSED'" scope="col" style="width: 20%">Action</th>
                      </tr>
                      </thead>
                      <tbody>
                        <td colSpan="7" *ngIf="request.reviews.length == 0">
                          <h5 style="margin: 0.5rem; text-align: center;" >There is no requests for this department!</h5>
                        </td>
                    <tr *ngFor="let review of request.reviews">
                      <ng-container>
                        <td>
                          <c-badge *ngIf="review.reviewStatus == 'PENDING' && request.status != 'CLOSED'" color="warning">{{review.reviewStatus}}</c-badge>
                          <c-badge *ngIf="review.reviewStatus == 'PENDING' && request.status == 'CLOSED'" color="dark">NOT SELECTED</c-badge>
                          <c-badge *ngIf="review.reviewStatus == 'ACCEPTED'" color="success">{{review.reviewStatus}}</c-badge>
                          <c-badge *ngIf="review.reviewStatus == 'CLOSED'" color="danger">{{review.reviewStatus}}</c-badge>
                        </td>
                        <td>{{review.reviewDate}}</td>
                        <td>{{review.volunteer.username}}</td>
                        <td>{{review.remarks}}</td>
                        <td *ngIf="request.status != 'CLOSED'"><button  style="color: white;" class="btn btn-sm btn-success mr-1" cButton (click)="setID(request.requestID, review.reviewID, 'ACCEPTED')"><img width="18px" src="../../assets/tick-svgrepo-com.svg" alt="arrow" loading="lazy">Accept</button>
                          <!-- <button style="color: white;" class="btn btn-sm btn-danger mr-1" cButton (click)="setID(request.requestID, review.reviewID, 'ACCEPTED')">Close</button></td> -->
                  </ng-container>
                  </tr>
                </tbody>
                </table>
        </div>
      </ng-template>
    </c-accordion-item>
  </c-accordion>

  <c-modal #scrollableLongContentModal id="scrollableLongContentModal" alignment="center" scrollable>
  <c-modal-header>
    <h5 cModalTitle>Create a Request</h5>
    <button [cModalToggle]="scrollableLongContentModal.id" cButtonClose></button>
  </c-modal-header>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
  <c-modal-body>
    <ng-container >



        <div class="form-group col">
          <label for="description">Description</label>
          <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
          <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
              <div *ngIf="f.description.errors.required">Description is required</div>
          </div>
      </div>


      <div class="form-group col">
        <label for="description">Reason</label>
        <input type="text" formControlName="reason" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.reason.errors }" />
        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
            <div *ngIf="f.reason.errors.required">reason is required</div>
        </div>
    </div>

    </ng-container>
  </c-modal-body>

  <c-modal-footer>
    <button [cModalToggle]="scrollableLongContentModal.id" cButton color="secondary" >
      Close
    </button>
    <button cButton color="primary" data-dismiss="scrollableLongContentModal.id" type="submit">Save changes</button>
  </c-modal-footer>
</form>
</c-modal>

</div>
</div>
