

<c-card id="info" class="u-border u-border--bottom-right">
    <c-card-body>
        <h5 cCardTitle id="loginTitle">Login</h5>
        <h6 cCardSubtitle style="color: grey !important;" class="mb-2 text-medium-emphasis">
            Please sign in to your account
          </h6>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="adminid">Admin ID</label>
                <input type="text" formControlName="adminid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.adminid.errors }" />
                <div *ngIf="submitted && f.adminid.errors" class="invalid-feedback">
                    <div *ngIf="f.adminid.errors.required">Admin ID is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required"> Password is required </div>
                </div>
            </div>
            <div class="form-group" id="loginFormGroup">
                <button [disabled]="loading" class="btn btn-primary" id="big">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                </button>
            </div>
        </form>
    </c-card-body>
</c-card>
